*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f4f4;
}

.hero{
  height:100vh;
  background:linear-gradient(to right,#4facfe,#00f2fe);
  color:white;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
}

ul{
  display:flex;
  list-style:none;
  gap:20px;
}

.hero-content{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-content h1{
  font-size:4rem;
}

.hero-content p{
  margin:20px 0;
  font-size:1.2rem;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-size:1rem;
}

.features{
  display:flex;
  justify-content:center;
  gap:30px;
  padding:60px 20px;
  flex-wrap:wrap;
}

.card{
  background:white;
  width:280px;
  padding:30px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  text-align:center;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card h2{
  margin-bottom:15px;
}

button:hover{
  background:black;
  color:white;
  transition:0.3s;
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:20px;
}

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:15px;
  }

  .hero-content h1{
    font-size:2.5rem;
  }

  ul{
    gap:10px;
  }

}